@charset "utf-8";

@font-face {
    font-family: 'Open-Sans';
    src: url('fonts/opensans-variable.ttf');
}

:root {
    --main-color: #FF776F;
    --text-color: #333333;
    --main-font: 'Open-Sans', sans-serif;
}

body {
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
    width: 100%;
    /* background-color: rgba(242, 242, 242, 0.7); */
    background-image: url(/content/patron-fondo.jpg);
}

#body {
    max-width: 968px;
    margin: 0 auto;
    position: relative;
}

.banner {
    width: 100%;
    animation-name: aparecer-banner;
    animation-duration: 2s;
}

@keyframes aparecer-banner {
    from {
        filter: blur(10px);
        transform: scale(1.2);
    }
}

h3 {
    font-weight: bold;
    text-align: center;
    color: var(--main-color);
}

p {
    color: var(--text-color);
}

button.general {
    font: var(--main-font);
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    color: black;
    padding: 15px 30px;
    box-shadow: 3px 4px 4px #c9c9c9;
    cursor: pointer;
    background: linear-gradient(white, white) padding-box,
        linear-gradient(to right, #B56FFF, #69DFFF) border-box;
    border-radius: 50em;
    border: 2px solid transparent;
    transition: transform .1s ease-in-out;
}

button.general.active,
button.general:hover {
    background: linear-gradient(var(--main-color), var(--main-color)) padding-box,
        linear-gradient(to right, white, white) border-box;
    color: #fff;
    box-shadow: 3px 4px 4px #7b7b7b;
    transform: scale(1.03);
}

#content {
    background-color: white;
}

#content .contenido {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 50px;
}

#content .contenido .bloque-interno {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#content .contenido .bloque-interno img {
    max-width: 100px;
}

#content .contenido .bloque-interno h3 {
    margin: 0;
}

#content .contenido .bloque-interno p {
    margin: 0;
    text-align: center;
}

#play_scorm {
    text-align: center;
}

.ui-state-error,
.ui-state-highlight {
    padding: 10px;
}


.botones-inicio {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 20px;
    justify-content: center;
}

.botones-inicio div {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.botones-inicio div button {
    width: 80%;
}

.botones-inicio div button a {
    text-decoration: none;
    color: var(--text-color);
}

.pie-pag {
    margin-top: 50px;
    padding: 30px 5px;
    background-color: var(--main-color);
    text-align: right;
}

.pie-pag img {
    max-width: 70%;
}

@media (max-width:750px) {
    #body {
        width: 95%;
    }

    #play_scorm {
        max-width: 100%;
    }

    #content .contenido {
        flex-direction: column;
    }

    .botones-inicio {
        flex-direction: column;
    }
}